#nome{
    font-family: sans-serif ;
    font-weight: bold;
    font-size: 25px;
}

.corDeFundo{
    background-color: #3a5a40;
}
.tamanho1{
    font-size: 19px;
}
.tamanho2{
    font-size: 17px;
}

#foto{
border-radius: 200px;
width: 200px;
position: ;
}


