#nome{
    font-family: sans-serif ;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.corDeFundo{
    background-color: #3a5a40;
}
.tamanho1{
    font-size: 19px;
}
.tamanho2{
    font-size: 17px;
}

#foto{
border-radius: 200px;
width: 200px;

}
.posiçao{
    display: inline-block;
}
.link{
    display: inline-block;
    margin-left: 10px ;
    
}
h2, h4, ul, p, a{
    text-align: center;
}
li, a{
    display: block;
}
